/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  color: #999;
  transition: all .3s ease-in-out;
  /* padding-top: 90px;  navbar height */
}

/* OVERIDE DEFAULT STYLE */
a:hover { text-decoration: none; }

input:focus,
textarea:focus {
  border-color: #008fd6;
  outline-color: #008fd6;
  box-shadow: 0 0 3px #008fd6;
}

.fa {
  color: #fff;
  background-color: #008fd6;
  transition: all .3s ease-in-out;
}

.fa:hover {
  color: #008fd6;
  background-color: #fff;
  border: 1px solid #008fd6;
}

.main-color-green {
  color: #008fd6 !important;
}

.main-color {
  color: #999 !important;
}

a.main-color:hover {
  color: #008fd6 !important;
}

.b-0 {
  border-radius: 0 !important;
}

.primary-alert {
  border-radius: 0;
  border: 1px solid #008fd6;
  color: #008fd6;
  padding: .5rem;
  background-color: rgba(0, 143, 214, .1);
  width: 100%;
}

/* NAVBAR */
nav {
  background-color: #fff;
  padding: 0 2rem !important;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-brand {
  font-size: 2.5rem;
  color: #008fd6;
  letter-spacing: -2px;
  transition: all .3s ease-in-out;
}

.navbar-brand:hover {
  color: rgba(0, 143, 214, .7);
}

nav .nav-link {
  padding: 2.1rem 1rem 1.9rem 1rem !important;
  color: #008fd6;
  border-bottom: .25rem solid #fff;
  transition: all .3s ease-in-out;
}

nav .nav-link.active, nav .nav-link:hover {
  border-color: #008fd6;
}

nav .nav-btn {
  border: 1px solid #008fd6;
  border-radius: 4px;
  color: #008fd6;
  padding: .4rem 1rem;
  margin-left: 10px;
  transition: all .3s ease-in-out;
}

nav .nav-btn:hover {
  background-color: rgba(0, 143, 214, .2)
}

.page-title {
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* BOX */
.box {
  background-color: #fff;
  border-radius: .5rem;
  padding: 2rem;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

.box-600 {
  max-width: 600px;
}

.box-700 {
  max-width: 700px;
}

.box .header {
  text-align: center;
  font-size: 3rem;
  color: #008fd6;
  padding: .8rem;
}

.box .sub-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.box .fa {
  min-width: 50px;
  text-align: center;
  padding: .9rem;
}

.box input,
.box textarea,
.box select {
  border-radius: .1rem;
  border: 1px solid #ccc;
  padding: .8rem;
  width: 100%;
  color: #777;
  transition: all .3s ease-in-out;
}

.box input:hover,
.box textarea:hover,
.box select:hover {
  border-color: #008fd6;
}

.box input[type=submit] {
  background-color: #008fd6;
  width: 40%;
  color: #fff;
  border: 1px solid #008fd6;
  transition: all .3s ease-in-out;
}

.box input[type=submit]:hover {
  font-weight: bold;
  background-color: #fff;
  color: #008fd6;
}

.step-header {
  margin-top: -25px;
}

.step {
  cursor: pointer
}

.step .step-number {
  border-radius: 50%;
  background-color: #fff;
  padding: 3px 8px;
  border: 1px solid #ccc;
  color: #000;
  transition: all .3s ease-in-out;;
}

.step .step-number:hover,
.step .step-number.active {
  background-color: #5cb85c;
  color: #fff;
}
.step .step-text {
  padding-top: .5rem;
  max-width: 90px;
  color: #999;
}

.card {
  padding: 1rem;
  background-color: #eee;
  border-radius: 0;
  border: 1px solid #eee;
  transition: all .3s ease-out;
}

.card:hover {
  background-color: #fff;
  border-color: #008fd6;
}

.card .header {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 0 0 1rem 0;
}

.card p {
  margin: .2rem 0;
}

.tan-content {
  display: none;
  transition: all 2s ease-in-out;
}

/* INDEX PAGE */
section#home-header {
  background-image: url(../Images/main-image.jpg);
  height: 753px;
}

section#home-header .container {
  height: 100%;
}

section#home-header p {
  padding-top: 1.5rem;
  font-size: 1.3rem;
  color: #fff;
}

section#home-header .banner-text {
  font-size: 4.5rem;
  font-weight: bold;
  color: #fff;
  padding: 0 5rem;
}

section #search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
  margin: 4rem;
  border-radius: .4rem;
  background-color: #fff;
  font-size: 1.2rem;
}

section #search select {
  border: none;
  outline: none;
  margin-right: 1rem;
  font-size: 1.2rem;
}

section #search select:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}

section #search input {
  border: none;
  padding: 1.2rem;
  outline: none;
}

section #search input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}

section #search input[type=submit] {
  padding: 1rem 4rem;
  border-radius: .4rem;
  border: 1px solid #008fd6;
  background-color: #008fd6;
  color: #fff;
  transition: all .3s ease-in-out;
}

section #search input[type=submit]:hover {
  background-color: #fff;
  color: #008fd6;
}

section#home-why {
  background-color: #eee;
  padding: 4rem 0;
}

section#home-why img {
  width: 100%;
}

section#home-why .header {
  font-size: 3rem;
  font-weight: bold;
  padding: 0 0 2rem 3.4rem;
  color: #444;
}

section#home-why .hr {
  width: 3rem;
  height: .2rem;
  background-color: #008fd6;
  margin-top: .5rem;
}

section#home-why p {
  padding: 0 8rem 0 3.4rem;
  text-align: justify;
}

section#home-why .box {
  border-radius: 0;
  border: 1px solid #fff;
  padding: 1rem;
  margin: 0 8rem 0 3.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all .3s ease-in-out;
}

section#home-why .box .fa,
section#home-why .box .fa:hover {
  background-color: inherit;
  color: #008fd6;
  border: none;
}

section#home-why .box .header {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  padding: 0;
}

section#home-why .box p {
  padding: .5rem 2rem 0 0;
}

section#home-why .box:hover {
  border-radius: .4rem;
  border-color: #008fd6;
}

section#home-options {
  padding: 4rem 0;
}

section#home-options .header {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

section#home-options .header .hr {
  width: 3rem;
  height: .2rem;
  background-color: #008fd6;
  margin-top: .5rem;
  margin: 1rem auto;
}

section#home-options img {
  width: 100%;
}

section#home-options .box {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
  border: 1px solid #fff;
  border-radius: .25rem;
  transition: all .3s ease-in-out;
}

section#home-options .box:hover {
  border-color: #008fd6;
}

section#home-options .box .header {
  color: #333;
  font-size: 1.4rem;
  font-weight: bold;
  padding: .5rem;
}

section#home-options .box p {
  padding: .5rem;
  padding-top: 0;
  margin: 0;
}

section#home-options .box .fa {
  background-color: #fff;
  color: #008fd6;
  border: none;
}

section#home-faq {
  background-color: #eee;
  padding: 4rem 0;
}

section#home-faq .header {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

section#home-faq .header .hr {
  width: 3rem;
  height: .2rem;
  background-color: #008fd6;
  margin-top: .5rem;
  margin: 1rem auto;
}

section#home-faq .faq-wrapper {
  margin: 1rem 0;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: #fff;
  transition: all .3s ease-in-out
}

section#home-faq .faq-wrapper:hover {
  border-color: #008fd6;
}

section#home-faq .question {
  color: #333;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem;
}

section#home-contact {
  padding: 4rem 0;
}

section#home-contact .header {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

section#home-contact .header .hr {
  width: 3rem;
  height: .2rem;
  background-color: #008fd6;
  margin-top: .5rem;
  margin: 1rem auto;
}

section#home-contact input,
section#home-contact textarea {
  border-radius: 0;
  outline: none;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  transition: all .3s ease-in-out;
}

section#home-contact input:hover,
section#home-contact textarea:hover {
  border-color: #008fd6;
}

section#home-contact input[type=submit] {
  width: 20%;
  border: 1px solid #008fd6;
  background-color: #008fd6;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
}

section#home-contact input[type=submit]:hover {
  background-color: #fff;
  color: #008fd6;
}

/* SEARCH RESULTS */
section#search-results-header {
  padding-top: 40px;
  height: 200px;
  background-color: #eee;
}

section#results-header {
  padding: 0 0 1rem 0;
  background-color: #eee;
}

section#results-content {
  padding: 1rem 0 2rem 0;
  background-color: #eee;
}

section#results-content .box {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #fff;
  padding: 0;
  margin-bottom: 2rem;
  transition: all .3s ease-in-out;
}

section#results-content .box .header {
  color: #333;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1rem;
}

section#results-content .box p {
  padding: .25rem 1rem;
  margin: 0;
}

section#results-content .box .footer {
  border-top: 1px solid #ccc;
  padding: 1rem .5rem;
  margin-top: .5rem;
  text-align: right;
}

section#results-content .box .footer a {
  background-color: #008fd6;
  color: #fff;
  padding: .5rem;
  border: 1px solid #008fd6;
  transition: all .3s ease-in-out;
}

section#results-content .box .footer a:hover {
  background-color: #fff;
  color: #008fd6;
}

section#results-content .page-link {
  color: #008fd6;
  border-color: #ccc;
  margin: .2rem;
  transition: all .3s ease-in-out;
}

section#results-content .page-link:hover {
  color: #fff;
  border-color: #008fd6;
  background-color: #008fd6;
}

/* PARKING LOT DETAILS */
main#parking-lot-details {
  margin-top: 87px;  /* Navbar height */
  background-color: #eee;
}

main#parking-lot-details .map-container {
  padding: .4rem;
  background-color: #fff;
  margin-bottom: 5rem;
}

main#parking-lot-details iframe {
  width: 100%;
  height: 87%;
}

main#parking-lot-details .box {
  background-color: #fff;
  border-radius: 0;
  padding: .75rem;
  margin-bottom: 2rem;
}

main#parking-lot-details .box p {
  margin: 0;
  padding: .25rem 0;
}

main#parking-lot-details button {
  background-color: #008fd6;
  color: #fff;
  border-radius: 0;
  border: 1px solid #008fd6;
  transition: all .3s ease-in-out;
}

main#parking-lot-details button:hover {
  background-color: #fff;
  color: #008fd6;
}

main#parking-lot-details .slots-container {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
}

main#parking-lot-details .slots-container .slot {
  background-color: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
  border-radius: 0;
  display: inline-block;
  padding: .5rem;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

main#parking-lot-details .slots-container .slot:hover {
  background-color: #fff;
  color: #5cb85c;
}

main#parking-lot-details .slots-container .slot.booked {
  background-color: #d9534f;
  border-color: #d9534f
}

main#parking-lot-details .slots-container .slot.booked:hover {
  background-color: #fff;
  color: #d9534f;
  cursor: not-allowed;
}

main#confirm-booking {
  margin-top: 89px;  /* Navbar height */
  background-color: #eee;
  padding-bottom: 2rem;
}

section#confirm-booking-form,
section#payment {
  background-color: #fff;
  border-radius: 0;
}

section#payment .sub-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 0;
}

section#bookings-search-header {
  padding-top: 50px;
  height: 250px;
  background-color: #eee;
}

section#booking-details {
  padding: 3rem 0;
  padding-top: calc(88px + 3rem);
  background-color: #eee;
}

main#add-update {
  background-color: #eee;
  padding: 88px 2rem 2rem 2rem;
  min-height: 100%;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.2rem 2rem;
  background-color: #777;
}

footer .navbar-brand {
  color: #fff;
}

footer .navbar-brand:hover {
  color: #008fd6;
}

footer p {
  color: #fff;
  transition: all .2s ease-in-out;
}